# compiled output
/frontend/dist
/frontend/exported/CHANGELOG.json

# dependencies
**/node_modules/*
**/.nuxt/*

# IDEs and editors
/frontend/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/

# Keep Var dir
var/*
!./var/config/.gitkeep
!./var/downloads/.gitkeep
!./var/tmp/.gitkeep

# Misc - python stuff
__pycache__
.venv
.idea
dist
build
version.txt
test_impl.py
./eslint.config.js
.pytest_cache
data/
llms-full.txt
.env